<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Translator</title>

    <script language="javascript" type="text/javascript" src="translated.js"></script>

</head>

<body>
<!-- list of languages Geht noch nicht!-->
<form name="forgotpassord" action="translated" method="POST" >
    <select class="translation-control" name="translation" >
        <option th:each="translate : ${translationList}" th:value="${translate}" th:text="${translate}"></option>
    </select>
    <select class="form-control" name="from" >
        <option th:each="language : ${languageFrom}" th:value="${language.name}" th:text="${language.fullName}"></option>
    </select>
    <select class="to-control" name="to">
        <option th:each="language : ${languageTo}" th:value="${language.name}" th:text="${language.fullName}"></option>
    </select>


       <!-- <label>From:</label> <input type='text' name='from' th:value="${from}"/>
        <label>To:</label> <input type='text' name='to' th:value="${to}"/>-->
        <label>Word:</label> <input type='text' name='word' th:value="${initialWord}"/>
        <label>&nbsp;</label> <input type="submit" value="OK" class="btn" name="request"/>
        <h4>Translation:</h4>
        <h1  th:text = "${word.name}"></h1>
        <h1 th:text = "${word.description}"></h1>
        <input type='submit' class="btn" name='request' value="cache result"/>
    </form>
</body>
</html>